@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
  }

  .menu-items li a {
    font-size: 16px;
  }

  /* Banner */

  .banner {
    padding: 26px 0;
  }

  .banner-container {
    flex-direction: column-reverse;
    padding: 24px 12px;
  }

  .banner-contents-text {
    width: auto;
    text-align: center;
  }

  .banner-contents-text h2 {
    font-size: 22px;
    line-height: 26px;
  }

  .banner-contents-text p {
    margin: 20px 0 20px;
    line-height: 24px;
    font-size: 14px;
  }

  .btn {
    display: block;
    padding: 10px 26px;
    font-size: 16px;
  }

  .banner-img {
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 768px) {
  .logo h2 {
    color: #161616;
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Banner */
  .banner {
    padding: 35px 0;
  }

  .banner-container {
    justify-content: space-between;
    align-items: center;
    background-color: #161616;
    color: rgb(255, 255, 255);
    padding: 20px 24px 0 24px;
    border-radius: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }

  .banner-contents-text {
    max-width: 450px;
  }

  .banner-contents-text h2 {
    font-size: 24px;
    line-height: 42px;
  }

  .banner-contents-text p {
    margin: 12px 0;
    line-height: 26px;
    font-size: 14px;
  }

  .btn {
    display: inline-block;
    background-color: #dd0000;
    padding: 12px 26px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  /* Banner */

  .banner-contents-text h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 1024px) {
  header {
    padding: 25px 12px;
  }

  /* Banner */

  .banner-container {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
