* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.hide {
  display: none;
}

/* Common Classes */

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.container-width {
  max-width: 1400px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.btn {
  display: inline-block;
  background-color: #dd0000;
  padding: 16px 26px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/* Header Area */

header {
  padding: 50px 0;
}

nav {
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  color: #161616;
  font-size: 45px;
}

.menu-items {
  gap: 16px;
}

.menu-items li a {
  color: #241a1a;
  font-size: 20px;
}

/* Banner */

.banner {
  padding: 50px 0;
}

.banner-container {
  justify-content: space-between;
  align-items: center;
  background-color: #161616;
  color: rgb(255, 255, 255);
  padding: 34px 75px 0;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.banner-contents-text {
  max-width: 530px;
}

.banner-contents-text h2 {
  font-size: 70px;
  line-height: 80px;
}

.banner-contents-text p {
  margin: 20px 0 30px;
  line-height: 26px;
}

.banner-btn .btn i {
  margin-left: 10px;
}

.banner-img img {
  display: block;
}

/* main area */

.main-area {
  /* justify-content: space-between; */
  gap: 24px;
  padding: 30px 0 50px;
}

.main-area ul {
  background-color: #161616;
  padding: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.main-area ul li {
  margin-bottom: 30px;
}

.main-area ul li:last-child {
  margin-bottom: 0;
}

.main-area ul li a.btn {
  padding-left: 40px;
  padding-right: 40px;
  display: block;
  text-align: center;
  font-size: 20px;
  background-color: #fff !important;
  color: #161616;
}

.main-area ul li:first-child a.btn {
  background-color: #dd0000 !important;
  color: #fff;
}

.main-area-right-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.main-area-right-card {
  padding: 54px 30px;
  text-align: center;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.main-area-right-card-item {
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-area-right-card p:first-child {
  font-size: 20px;
  margin: 20px 0 10px;
}

.main-area-right-card p:last-child {
  color: #4d4d4d;
  line-height: 20px;
}

/* Footer */

footer {
  background-color: #161616;
  padding: 130px 0;
}

.footer-container {
  text-align: center;
  color: #fff;
}

.footer-container p {
  font-size: 40px;
  margin-bottom: 40px;
}

.footer-container ul {
  margin-top: 40px;
  gap: 60px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-container ul li a {
  color: #b9b9b9;
}
